@font-face {
    font-family: "Playwrite GB S", cursive;
    src: url('/fonts/PlaywriteGBS-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }