---
import { Icon } from 'astro-icon/components'

import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";

const buttons = [{name:"Aceptar"}, {name:"enviar"}, {name:"cancelar"}, {name:"otro"}];
---

<Layout title="Contacta con nosotros">
  formulario de contacto
  <Button del="true">
    <span slot="text">
      Botón 1
    </span>

    <svg slot="start-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
    </svg>    
  </Button>
  <Button>
    
  </Button>

  <Icon class='text-green-800' name="beaker" size="56" />
  <Icon name="mdi:brightness-5" size="56" />
  <Icon name="svg-spinners:wind-toy" size="56" />

  {
    buttons.map((text) => {
      return <Button><span slot="text">{text.name}</span></Button>
    })
  }

</Layout>