---
const { del = false } = Astro.props;
---
<div 
  class="items-center space-x-1 transition-colors hover:bg-blue-600 hover:cursor-pointer px-2 inline-flex rounded bg-blue-500 text-white"
  class:list={{"bg-red-500 hover:bg-red-600": del}}
>
  <slot name="start-icon" />
  <slot name="text">
    Enviar
  </slot>
  <slot name="end-icon" />
</div>